.App {
  font-family: 'Lato', sans-serif;
  width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
}

.header span{
  width: 350px;
  font-size: 20px;
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}

#user-display {
  margin-top: 20px;
}

#user-display img {
  width: 100%;
}

#left-content {
  font-size: 14px;
  width: 30%;
  display: inline-block;
}

#right-content {
  vertical-align: top;
  width: 70%;
  display: inline-block;
}

#right-content a {
  font-size: 10px;
}

#search-field {
  margin-top: 10px;
  -webkit-appearance: none;
  width: 400px;
  outline: 0;
  border: 0;
  border-bottom: 1.5px solid black;
  text-align: center;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}

#github-logo {
  float: left;
  height: 50px;
}
